# Python Basics

# Why python for AI ?
- Syntax
- Fast Prototyping 



- Prebuilt Libraries (numpy, pandas, scikit, etc)
- numpy - mathematical calculations
- pandas -  data analysis
- matplotlib - visualizations
- Tensorflow -ML


- COMMUNITY SUPPORT like python weekly, 10 thousand python developersetc.

## Printing
Printing can be done by using **print** followed by the entity to print.

In [1]:
print(5)
print('Hello World')
print(True)

5
Hello World
True

If you want to print multiple items in same line, you can use a comma **,**.

In [2]:
print(5, 7, 15, "a")

5 7 15 a

## Variable Naming
Variables are entities or location used to store values of any kind.  Are 
* Can begin with alphabets a-z or A-Z or _
* Can contain numbers but not as the first letter
* Are case-sensitive  

*There are some **keywords** reserved in python which should not be used such as **print**, **type**, **in**, **sum**, **len**. If they are used as variable names, the program might not function properly.*

In [3]:
a = 1
A = 13
#1_a1 = 5
x_y = 10
b = 'apples'

In [4]:
print(a)
print(A)

1
13

## Functions
Properties of Functions in python:

* Are defined using the keyword **def**
* May or may not return 1 or more values
* Use keyword **return** to return values
* Do not use curly brackets or semicolon like in other languages
* Use indentation to separate blocks

*P.S. Do not forget the colon **:** in the end of the line in which def keyword is used.*

Function with no parameters

In [8]:
def abc():
    print(10)

In [9]:
abc()

10

Function with 2 parameters

In [10]:
def f(a, b):
    c = a + b
    print(c)

In [11]:
f(10, 5)

15

Function with 1 parameter that returns 3 values

In [12]:
def g(x):
    return x, 2, 3

In [13]:
g(8)

(8, 2, 3)

In [18]:
def add_numbers(a, b):
    return a + b
s = add_numbers(1, 2)
print(s)

3

The variables used inside the functions are specific to that function and cannot be accessed outside without special cases.

In [15]:
c

NameError: name 'c' is not defined

## Variable Types
In python, there are many variable types. They include:
* int 
    * *7*
* str 
    * *"Hello"*
    * 'Wow'
* float 
    * *3.123*
* boolean 
    * False*
* list 
    * *[2, 5, 10, 15]*
* dictionary 
    * *{ "fruit" : "apple",   
    "qty" : 1}*

The type is auto assigned when assigning values to the variable. To know the type of variable use **type** function.

In [22]:
def p_type(a):
    print(a)
    print("The type of ", a, " is ", type(a))

In [ ]:
a = 5
p_type(a)

In [ ]:
b = 1.5
p_type(b)

In [ ]:
p_type("Write anything!")

In [ ]:
c = True
p_type(c)

In [ ]:
p_type([1, 2])

In [ ]:
p_type({"hello": 1,
       "hi": "a"})

## String Operations
* Strings can be added with strings
* Strings can be multiplied by integers
* Strings can be formatted using curly brackets **{}** and its function **format**

In [ ]:
"abc" + "def"

In [ ]:
"abc "*3

In [20]:
#print('smoking is 2 bad')
print('{} is {} {}'.format("smoking", 2, "good"))
#useful for making sure output is readable and user friendly.

smoking is 2 bad
smoking is 2 good

## Type Casting (DATA TYPE COVERSION)
Variables can be converted to another type if they are compatible. This can be done using the keyword for respective types. Some keywords are:
* String
    * str
* Integer
    * int
* Float
    * float
* List
    * list  

You can try doing this yourself later for more understanding.

In [23]:
p_type(5)

5
The type of  5  is  <class 'int'>

In [24]:
p_type(str(5))

5
The type of  5  is  <class 'str'>

In [25]:
"abc" + 1 #Error because of different data type

TypeError: must be str, not int

In [26]:
"abc" + str(1)

'abc1'

In [41]:
print (int("1") + 1)  #Str to int data type

2

## Comparators
* Equal to
    * ==
* Not equal to
    * !=
* Less than
    * <
* Greater than
    * >
* Less than or equal to
    * <=
* Greater than or equal to
    * \>=
They return boolean values.

In [39]:
2 != 3

True

In [ ]:
2 == 3

In [ ]:
7 >= 5

In [ ]:
7 >= 10

## Flow Control
*Do not forget **colon** **:** at the end of the conditional lines.*

### Conditions
* if
* if ... else
* if ... elif
* if ... elif ... else

In [ ]:
def rel(a, c):
    if a == c:
        print("Equal")
    elif a > c:
        print("Greater")
    else:
        print("Less")

In [ ]:
rel(1, 2)

In [ ]:
rel(1, 1)

In [ ]:
rel(2, 1)

### While Loop
**The while loop tells the computer to do something as long as the condition is met**

In [44]:
w = 0
while w < 10:
    print(w)
    w = w + 1

0
1
2
3
4
5
6
7
8
9

### For loop
**Iterate code for n number of times**

In [45]:
for i in [1, 2, 3]:
    print(i)

1
2
3

*Note: range(x) gives an iterator from 0 to x-1*

In [ ]:
for i in range(100):
    print(i)

*Note: range(x, y, gap) gives an iterator from x to y with interval = gap. y is not included in output.*

In [ ]:
for i in range(10, 20, 5):
    print(i)

In [ ]:
total = 0
for num in range(4):
    print(num)
    total = total + num
print('TOTAL',total)

## Lists
Lists can contain multiple values, which makes it easier to write programs that handle large amounts of data. The values in the list do not need to be of same data type.  
To create a list we use square brackets **[ ]** with comma **,** to separate the elements.

In [ ]:
my_list = ['hello', 3.1415, True, None, 42]
my_list

In [46]:
pl = ['i', 'you', 'we', 'he', 'she', 'they']
p_type(pl)

['i', 'you', 'we', 'he', 'she', 'they']
The type of  ['i', 'you', 'we', 'he', 'she', 'they']  is  <class 'list'>

### Length of lists
The **length** of the list can be found using the **len** keyword.

In [47]:
len(pl)

6

### Indexing
Elements of lists can be selected using their index i.e. position from the beginning in the list. Unlike functions, indexing requires square brackets **[ ]**.  
*In python, the first index starts with 0.*

In [ ]:
pl

In [ ]:
pl[0]

In [ ]:
pl[1]

Similarly, indexing can be done from the last as well. In this case, the last index is -1, the second last index -2 and so on.

**It's difficult to count no. of elements for larger lists**

In [53]:
print(pl[-1])
print(pl[-2])

they
she

### Slicing
Slicing can be done using a colon **:** with the starting index in front of it and the ending index after the colon.  
*Note : The ending index is not included in the output.*

In [ ]:
pl

Taking elements from 0 index to 3-1=2 index.

In [54]:
pl[0:3]

['i', 'you', 'we']

In [55]:
pl[:3]

['i', 'you', 'we']

In [56]:
pl[3:]

['he', 'she', 'they']

In [57]:
pl[1:-2]

['you', 'we', 'he']

We can take the list in reverse in the following way.

In [58]:
pl[::-1]

['they', 'she', 'he', 'we', 'you', 'i']

We can also take indices with specific gap similar to in range.  
*Again, the last index is not included in the output.*

In [60]:
pl[0:6:2]

['i', 'we', 'she']

In [62]:
pl[1] = "new" #Updating list
pl

['i', 'new', 'we', 'he', 'she', 'they']

## Tuple
To create a tuple we use paranthesis **()** with comma **,** to separate the elements.  
The indexing/slicing is exactly same in tuple as in list.

In [70]:
tup1 = (50,) #you have to include a comma, even though there is only one value
type(tup1) #Removing , can make it integer

tuple

In [72]:
tpl = tuple(pl)
tpl

('i', 'new', 'we', 'he', 'she', 'they')

In [73]:
tpl[0]

'i'

In [74]:
tpl[0:6:2]

('i', 'we', 'she')

# Mutable vs Immutable
The difference between lists and tuples is the fact that lists are mutable while tuples are immutable.  
To understand it clearly, at a higher level, we can say that mutable objects are the ones that can be changed while immutable objects are the ones that cannot be changed after assignment.  

**===>Immutable- bool,int,str,tupple**

**===>Mutable-list**

You can read more about it [here](https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747).

In [76]:
w='MAN'
print(w)

MAN

In [79]:
a[0]='m' #STR DOESN'T ALLOW TO CHANGE ASSIGNED DATA
print(w)

TypeError: 'int' object does not support item assignment

Lists --> Mutable

In [80]:
pl

['i', 'new', 'we', 'he', 'she', 'they']

In [94]:
pl[0] = "added" #REPLACING VALUE IN LIST
pl

['added', 'he', 'she', 'they']

Tuples --> Immutable

In [92]:
tpl

('i', 'new', 'we', 'he', 'she', 'they')

'tuple' object does not support item assignment

In [93]:
tpl[0] = "new" #IMMUTABLE

TypeError: 'tuple' object does not support item assignment

### Concatenate (ADDING LISTS OR TUPLE)
**We can add two or more lists.**

In [96]:
print(pl)

pl_2 = ['my', 'your', 'our'] 
print(pl_2)

['added', 'he', 'she', 'they']
['my', 'your', 'our']

In [ ]:
print(pl+pl_2)

We can also add two or more tuples.

In [ ]:
tpl_2 = tuple(pl_2)
print(tpl+tpl_2)

**Tuples** and **lists** however, cannot be added.

In [ ]:
print(tpl+tuple(pl))

### Append - Adding elements in lists
An item can be appended at the end of a list using the **append** method.

In [97]:
pl.append('naya')
pl

['added', 'he', 'she', 'they', 'naya']

In [98]:
pl.remove('naya')
pl

['added', 'he', 'she', 'they']

## Dictionary
Dictionaries are variables with **key** and **value** pairs.  
The values can be any variables. But the keys must be immutable.

Rules:
- Each key is separated from its value by a colon (:)
- the items are separated by commas
-  the whole thing is enclosed in curly braces. 


An empty dictionary without any items is written with just two curly braces, like this: {}.

In [99]:
cat = {'body': 'fat', 
       'color': 'white',
       (1, 2) : 'this is his id',
       "meals": [3, 1, 2]}
p_type(cat)

{'body': 'fat', 'color': 'white', (1, 2): 'this is his id', 'meals': [3, 1, 2]}
The type of  {'body': 'fat', 'color': 'white', (1, 2): 'this is his id', 'meals': [3, 1, 2]}  is  <class 'dict'>

### Accessing ELements of Dictionary
We use the key instead of index for accessing dictionary elements.

In [101]:
print(cat['body'])

fat

Meaningful string can be made

In [102]:
'Cat has ' + cat['color'] + ' fur.'

'Cat has white fur.'

### Keys and values

In [ ]:
print(cat.keys())
print(cat.values())

### Dictionary Items
The keys and values can be obtained in ordered set format.

In [107]:
print(cat.items())

dict_items([('body', 'fat'), ('color', 'white'), ((1, 2), 'this is his id'), ('meals', [3, 1, 2])])

In [104]:
#FOR LOOP EXAMPLE

for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [105]:
for k in cat: 
    print(k)

body
color
(1, 2)
meals

In [ ]:
for k, v in cat.items():
    print("Key : {} ... Value : {}".format(k, v))

### Updating dictionary
Dictionary can be updated either using the **update** function. We can also assign new elements in the same way we do in lists but we need to use **keys** instead of indices.

In [108]:
cat.update({'eyes': 'blue'})
cat

{(1, 2): 'this is his id',
 'body': 'fat',
 'color': 'white',
 'eyes': 'blue',
 'meals': [3, 1, 2]}

In [109]:
cat['weight'] = 4
cat

{(1, 2): 'this is his id',
 'body': 'fat',
 'color': 'white',
 'eyes': 'blue',
 'meals': [3, 1, 2],
 'weight': 4}

**Elements in dictionary can be deleted using pop() function**

In [110]:
cat.pop('weight')

4

In [111]:
print(cat)

{'body': 'fat', 'color': 'white', (1, 2): 'this is his id', 'meals': [3, 1, 2], 'eyes': 'blue'}

# IMPORTING MODULES

A module is a file consisting of Python code. A module can define functions, classes and variables. A module can also include runnable code.

In [112]:
import numpy

In [113]:
numpy.array([1,2,3])

array([1, 2, 3])

# Alias
An alias is a a second name for a piece of data.
Short words used instead of longer library names.

In [114]:
import numpy as np

In [115]:
np.array([1,2,3])

array([1, 2, 3])