# Python Basics

## Printing
Printing can be done by using **print** followed by the entity to print.

In [1]:
print(5)
print('Hello World')
print(True)

5
Hello World
True

If you want to print multiple items in same line, you can use a comma **,**.

In [2]:
print(5, 7, 15, "a")

5 7 15 a

## Variable Naming
Variables are entities or location used to store values of any kind.  Are 
* Can begin with alphabets a-z or A-Z or _
* Can contain numbers but not as the first letter
* Are case-sensitive  

*There are some **keywords** reserved in python which should not be used such as **print**, **type**, **in**, **sum**, **len**. If they are used as variable names, the program might not function properly.*

In [3]:
a = 1
A = 13
_a1 = 5
x_y = 10
b = 'apples'

In [4]:
print(a)
print(A)

1
13

## Functions
Properties of Functions in python:
* Named entities
* Perform specific tasks
* Operate on 0, 1 or more values/variables
* Can be called using their name followed by small brackets **()**
* Follow the same naming convention as variables
* Are defined using the keyword **def**
* May or may not return 1 or more values
* Use keyword **return** to return values
* Do not use curly brackets or semicolon like in other languages
* Use indentation to separate blocks

*P.S. Do not forget the colon **:** in the end of the line in which def keyword is used.*

Function with no parameters

In [5]:
def abc():
    print(10)

In [6]:
abc()

10

Function with 2 parameters

In [7]:
def f(a, b):
    c = a + b
    print(c)

In [8]:
f(10, 5)

15

Function with 1 parameter that returns 3 values

In [9]:
def g(x):
    return x, 2, 3

In [10]:
g(8)

(8, 2, 3)

In [14]:
def add_numbers(a, b):
    return a + b
s = add_numbers(1, 2)
print(s)

3

The variables used inside the functions are specific to that function and cannot be accessed outside without special cases.

## Variable Types
In python, there are many variable types. They include:
* int 
    * *7*
* str 
    * *"Hello"*
    * 'Wow'
* float 
    * *3.123*
* boolean 
    * False*
* list 
    * *[2, 5, 10, 15]*
* dictionary 
    * *{ "fruit" : "apple",   
    "qty" : 1}*

The type is auto assigned when assigning values to the variable. To know the type of variable use **type** function.

In [15]:
def p_type(a):
    print(a)
    print("The type of ", a, " is ", type(a))

In [16]:
a = 5
p_type(a)

5
The type of  5  is  <class 'int'>

In [17]:
b = 1.5
p_type(b)

1.5
The type of  1.5  is  <class 'float'>

In [18]:
p_type("Write anything!")

Write anything!
The type of  Write anything!  is  <class 'str'>

In [19]:
c = True
p_type(c)

True
The type of  True  is  <class 'bool'>

In [20]:
p_type([1, 2])

[1, 2]
The type of  [1, 2]  is  <class 'list'>

In [21]:
p_type({"hello": 1,
       "hi": "a"})

{'hello': 1, 'hi': 'a'}
The type of  {'hello': 1, 'hi': 'a'}  is  <class 'dict'>

## String Operations
* Strings can be added with strings
* Strings can be multiplied by integers
* Strings can be formatted using curly brackets **{}** and its function **format**

In [22]:
"abc" + "def"

'abcdef'

In [23]:
"abc "*3

'abc abc abc '

In [24]:
print('{} is {} {}'.format("smoking", 2, "bad"))

smoking is 2 bad

## Type Casting
Variables can be converted to another type if they are compatible. This can be done using the keyword for respective types. Some keywords are:
* String
    * str
* Integer
    * int
* Float
    * float
* List
    * list  

You can try doing this yourself later for more understanding.

In [25]:
p_type(5)

5
The type of  5  is  <class 'int'>

In [26]:
p_type(str(5))

5
The type of  5  is  <class 'str'>

In [27]:
"abc" + 1

TypeError: must be str, not int

In [ ]:
"abc" + str(1)

## Comparators
* Equal to
    * ==
* Not equal to
    * !=
* Less than
    * <
* Greater than
    * >
* Less than or equal to
    * <=
* Greater than or equal to
    * \>=
They return boolean values.

In [70]:
2 != 3

True

In [71]:
2 == 3

False

In [72]:
7 >= 5

True

In [73]:
7 >= 7

True

## Flow Control
*Do not forget colon **:** a the end of the conditional lines.*

### Conditions
* if
* if ... else
* if ... elif
* if ... elif ... else

In [29]:
def rel(a, c):
    if a == c:
        print("Equal")
    elif a > c:
        print("Greater")
    else:
        print("Less")

In [30]:
rel(1, 2)

Less

In [31]:
rel(1, 1)

Equal

In [32]:
rel(2, 1)

Greater

### while loop

In [33]:
w = 0
while w != 10:
    print(w)
    w = w + 1

0
1
2
3
4
5
6
7
8
9

### for loop
Iterate over the specified iterator types of items such as lists and dictionaries.

In [34]:
for i in [1, 2, 3]:
    print(i)

1
2
3

*Note: range(x) gives an iterator from 0 to x-1*

In [35]:
for i in range(5):
    print(i)

0
1
2
3
4

*Note: range(x, y, gap) gives an iterator from x to y with interval = gap. y is not included in output.*

In [36]:
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [77]:
total = 0
for num in range(4):
    total = total + num
print(total)

6

## Lists
Lists can contain multiple values, which makes it easier to write programs that handle large amounts of data. The values in the list do not need to be of same data type.  
To create a list we use square brackets **[ ]** with comma **,** to separate the elements.

In [38]:
my_list = ['hello', 3.1415, True, None, 42]
my_list

['hello', 3.1415, True, None, 42]

In [39]:
pl = ['i', 'you', 'we', 'he', 'she', 'they']
p_type(pl)

['i', 'you', 'we', 'he', 'she', 'they']
The type of  ['i', 'you', 'we', 'he', 'she', 'they']  is  <class 'list'>

### Length of lists
The **length** of the list can be found using the **len** keyword.

In [40]:
len(pl)

6

### Indexing
Elements of lists can be selected using their index i.e. position from the beginning in the list. Unlike functions, indexing requires square brackets **[ ]**.  
*In python, the first index starts with 0.*

In [41]:
pl

['i', 'you', 'we', 'he', 'she', 'they']

In [42]:
pl[0]

'i'

In [43]:
pl[1]

'you'

Similarly, indexing can be done from the last as well. In this case, the last index is -1, the second last index -2 and so on.

In [44]:
pl[-1]

'they'

### Slicing
Slicing can be done using a colon **:** with the starting index in front of it and the ending index after the colon.  
*Note : The ending index is not included in the output.*

In [45]:
pl

['i', 'you', 'we', 'he', 'she', 'they']

Taking elements from 0 index to 3-1=2 index.

In [46]:
pl[0:3]

['i', 'you', 'we']

We can take the list in reverse in the following way.

In [47]:
pl[::-1]

['they', 'she', 'he', 'we', 'you', 'i']

We can also take indices with specific gap similar to in range.  
*Again, the last index is not included in the output.*

In [48]:
pl[0:6:2]

['i', 'we', 'she']

In [49]:
pl[1] = "new"
pl

['i', 'new', 'we', 'he', 'she', 'they']

## Tuple
To create a list we use square brackets **[ ]** with comma **,** to separate the elements.  
The indexing/slicing is exactly same in tuple as in list.

In [50]:
tpl = (1, 2, 3)
tpl

(1, 2, 3)

In [51]:
tpl = tuple(pl)
tpl

('i', 'new', 'we', 'he', 'she', 'they')

In [52]:
tpl[0]

'i'

In [53]:
tpl[0:6:2]

('i', 'we', 'she')

## Mutable vs Immutable
The difference between lists and tuples is the fact that lists are mutable while tuples are immutable.  
To understand it clearly, at a higher level, we can say that mutable objects are the ones that can be changed while immutable objects are the ones that cannot be changed after assignment.  

You can read more about it [here](https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747).

Lists --> Mutable

In [54]:
pl

['i', 'new', 'we', 'he', 'she', 'they']

In [55]:
pl[0] = "new"
pl

['new', 'new', 'we', 'he', 'she', 'they']

Tuples --> Immutable

In [56]:
tpl

('i', 'new', 'we', 'he', 'she', 'they')

In [57]:
tpl[0] = "new"

TypeError: 'tuple' object does not support item assignment

### Concatenate
We can add two or more lists.
We can also add two or more tuples.
Tuples and lists however, cannot be added

In [58]:
pl_2 = ['my', 'your', 'our']
print(pl+pl_2)

['new', 'new', 'we', 'he', 'she', 'they', 'my', 'your', 'our']

In [59]:
tpl_2 = tuple(pl_2)
print(tpl+tpl_2)

('i', 'new', 'we', 'he', 'she', 'they', 'my', 'your', 'our')

In [60]:
print(tpl+pl)

TypeError: can only concatenate tuple (not "list") to tuple

### Append
An item can be appended at the end of a list using the **append** method.

In [61]:
pl.append('naya')
pl

['new', 'new', 'we', 'he', 'she', 'they', 'naya']

## Dictionary
Dictionaries are variables with **key** and **value** pairs.  
The values can be any variables. But the keys must be immutable.

In [62]:
cat = {'body': 'fat', 
       'color': 'white',
       (1, 2) : 'this is his id',
       "meals": [3, 1, 2]}
p_type(cat)

{'body': 'fat', 'color': 'white', (1, 2): 'this is his id', 'meals': [3, 1, 2]}
The type of  {'body': 'fat', 'color': 'white', (1, 2): 'this is his id', 'meals': [3, 1, 2]}  is  <class 'dict'>

### Indexing
We use the key instead of index for accessing dictionary elements.

In [63]:
'Cat has ' + cat['color'] + ' fur.'

'Cat has white fur.'

### Keys and values

In [64]:
print(cat.keys())
print(cat.values())

dict_keys(['body', 'color', (1, 2), 'meals'])
dict_values(['fat', 'white', 'this is his id', [3, 1, 2]])

### Dictionary Items
The keys and values can be obtained in ordered set format.

In [65]:
print(cat.items())

dict_items([('body', 'fat'), ('color', 'white'), ((1, 2), 'this is his id'), ('meals', [3, 1, 2])])

In [66]:
for k, v in cat.items():
    print("Key : {} ... Value : {}".format(k, v))

Key : body ... Value : fat
Key : color ... Value : white
Key : (1, 2) ... Value : this is his id
Key : meals ... Value : [3, 1, 2]

### Updating dictionary
Dictionary can be updated either using the **update** keyword. We can also assign new elements in the same way we do in lists but we need to use **keys** instead of indices.

In [67]:
cat.update({'eyes': 'blue'})
cat

{'body': 'fat',
 'color': 'white',
 (1, 2): 'this is his id',
 'meals': [3, 1, 2],
 'eyes': 'blue'}

In [68]:
cat['weight'] = 4
cat

{'body': 'fat',
 'color': 'white',
 (1, 2): 'this is his id',
 'meals': [3, 1, 2],
 'eyes': 'blue',
 'weight': 4}

## Comprehensions
For and if loops can be made concise and a little bit more efficient using list comprehensions.

In [10]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
print(len(strings))
[x.upper() for x in strings if len(x) >= 2]

6

['AS', 'BAT', 'CAR', 'DOVE', 'PYTHON']